[submodule "cookbooks/ernie"]
	path = cookbooks/ernie
	url = git@github.com:ehershey/cb-ernie.git
[submodule "cookbooks/chef-server"]
	path = cookbooks/chef-server
	url = git@github.com:ehershey/chef-server
[submodule "cookbooks/managed-chef-server"]
	path = cookbooks/managed-chef-server
	url = git@github.com:ehershey/managed-chef-server-cookbook
[submodule "cookbooks/postfix"]
	path = cookbooks/postfix
	url = git@github.com:ehershey/postfix.git
[submodule "cookbooks/chef_client_updater"]
	path = cookbooks/chef_client_updater
	url = git@github.com:chef-cookbooks/chef_client_updater.git
[submodule "cookbooks/chef-client"]
	path = cookbooks/chef-client
	url = git@github.com:chef-cookbooks/chef-client.git
[submodule "cookbooks/homebrew"]
	path = cookbooks/homebrew
	url = https://github.com/sous-chefs/homebrew.git
